<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="login/base::layout(~{::section})">
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
</head>
<body>


<section class="contact" id="contact">

  <h1 class="heading"> contact us </h1>

  <div class="row">

    <div class="col-xl-5">

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d448972.6768144206!2d77.268976!3d28.461501!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5456ef36d9f%3A0x3b7191b1286136c8!2sSector%2062%2C%20Noida%2C%20Uttar%20Pradesh%2C%20India!5e0!3m2!1sen!2sus!4v1679658709204!5m2!1sen!2sus" height="500" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="col-xl-6">

    <form action="">
      <h3>get in touch</h3>
      <input type="text" placeholder="name" class="box">
      <input type="email" placeholder="email" class="box">
      <input type="number" placeholder="phone" class="box">
      <textarea name="" placeholder="message" class="box" id="" cols="30" rows="10"></textarea>
      <input type="submit" value="send message" class="btn">
    </form>
    </div>


  </div>

</section>

</body>
</html>